*.sh
!scripts/run.sh
*.log
**/DeepSeek-R1-Distill-Llama-8B/
**/DeepSeek-R1-Distill-Qwen-7B/
**/Llama-3.1-8B-Instruct/
**/Qwen3-4B-nothink/
**/Qwen3-8B-nothink/
**/Qwen3-14B-nothink/
evaluation/overrefusal_benchmark/eval_results/DeepSeek-R1-0528-Qwen3-8B/
evaluation/overrefusal_benchmark/eval_results/DeepSeek-R1-Distill-Llama-8B/
evaluation/overrefusal_benchmark/eval_results/DeepSeek-R1-Distill-Llama-8B-star1/
evaluation/overrefusal_benchmark/eval_results/DeepSeek-R1-Distill-Qwen-7B/
evaluation/overrefusal_benchmark/eval_results/DeepSeek-R1-Distill-Qwen-7B-star1/
evaluation/overrefusal_benchmark/eval_results/Llama-3.1-8B-Instruct/
evaluation/safety_benchmark/eval_results/DeepSeek-R1-0528-Qwen3-8B/
evaluation/safety_benchmark/eval_results/DeepSeek-R1-Distill-Qwen-7B/
evaluation/safety_benchmark/eval_results/DeepSeek-R1-Distill-Qwen-7B-star1/
evaluation/safety_benchmark/eval_results/DeepSeek-R1-Distill-Llama-8B/
evaluation/safety_benchmark/eval_results/DeepSeek-R1-Distill-Llama-8B-star1/
evaluation/safety_benchmark/eval_results/Llama-3.1-8B-Instruct/
evaluation/safety_benchmark/eval_results/Qwen3-4B-nothink/
evaluation/safety_benchmark/eval_results/Qwen3-8B-nothink/
evaluation/safety_benchmark/eval_results/Qwen3-14B-nothink/
evaluation/utility_benchmark/eval_results/prompting/
evaluation/utility_benchmark/eval_results/safechain1000_thinkingi_steering_full_test/
evaluation/utility_benchmark/eval_results/star1000_thinkingi_steering_full_test/
evaluation/utility_benchmark/eval_results/thinkingi/
evaluation/utility_benchmark/eval_results/thinkingi_prompt_test0/
evaluation/utility_benchmark/eval_results/selfreminder/Llama-3.1-8B-Instruct/
evaluation/utility_benchmark/eval_results/vanilla/DeepSeek-R1-Distill-Qwen-7B/
evaluation/utility_benchmark/eval_results/selfreminder/DeepSeek-R1-Distill-Qwen-7B/
evaluation/utility_benchmark/eval_results/vanilla/DeepSeek-R1-Distill-Qwen-7B-star1/
evaluation/utility_benchmark/eval_results/vanilla/DeepSeek-R1-Distill-Llama-8B/
evaluation/utility_benchmark/eval_results/vanilla/DeepSeek-R1-Distill-Llama-8B-star1/
evaluation/utility_benchmark/eval_results/vanilla/DeepSeek-R1-Distill-Qwen3-8B/
evaluation/utility_benchmark/eval_results/vanilla/Llama-3.1-8B-Instruct/
reasoningguard/eval_results/
reasoningguard/safety_injected_dataset/
reasoningguard/topk_sampling_dataset/
reasoningguard/utility_eval/eval_results/DeepSeek-R1-Distill-Llama-8B/
reasoningguard/utility_eval/eval_results/DeepSeek-R1-Distill-Qwen-7B/
reasoningguard/pair_datasets/DeepSeek-R1-Distill-Qwen-7B/
reasoningguard/final_eval_results/DeepSeek-R1-Distill-Qwen-7B/
reasoningguard/final_eval_results/DeepSeek-R1-Distill-Llama-8B/
star-1-sft/log
**/__pycache__/
steering/not_used_code/
steering/steering_results/
steering/steering_vectors/DeepSeek-R1-Distill-Llama-8B/
steering/steering_vectors/DeepSeek-R1-Distill-Qwen-7B/
steering/steering_vectors/Llama-3.1-8B-Instruct/
steering/steering_vectors/Qwen3-4B-nothink/
steering/steering_vectors/Qwen3-8B-nothink/
steering/steering_vectors/Qwen3-14B-nothink/
test.py