accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
astor
attrs
blake3
cachetools
cbor2
certifi
cffi
charset-normalizer
click
cloudpickle
cmake
compressed-tensors
contourpy
cupy-cuda12x
cycler
datasets
depyf
dill
diskcache
distro
dnspython
easyjailbreak
einops
email-validator
fastapi
fastapi-cli
fastapi-cloud-cli
fastrlock
filelock
fire
fonttools
frozendict
frozenlist
fschat
fsspec
gguf
gitdb
GitPython
h11
hf-xet
httpcore
httptools
httpx
huggingface-hub
human-eval
idna
iniconfig
interegular
Jinja2
jiter
joblib
jsonlines
jsonschema
jsonschema-specifications
kiwisolver
lark
latex2mathml
lit
llguidance
llvmlite
lm-format-enforcer
markdown-it-py
markdown2
MarkupSafe
matplotlib
mdurl
mistral_common
mpmath
msgpack
msgspec
multidict
multiprocess
networkx
nh3
ninja
nltk
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
openai
openai-harmony
opencv-python-headless
outlines_core
packaging
pandas
partial-json-parser
pillow
platformdirs
pluggy
prometheus-fastapi-instrumentator
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
py-cpuinfo
pyarrow
pybase64
pybind11
pycountry
pycparser
pydantic
pydantic-extra-types
pydantic_core
Pygments
pyparsing
pytest
python-dateutil
python-dotenv
python-json-logger
python-multipart
pytz
PyYAML
pyzmq
ray
referencing
regex
requests
rich
rich-toolkit
rignore
rpds-py
safetensors
scikit-learn
scipy
sentencepiece
sentry-sdk
setproctitle
shellingham
shortuuid
six
smmap
sniffio
soundfile
soxr
starlette
svgwrite
sympy
tabulate
termcolor
threadpoolctl
tiktoken
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
transformers-stream-generator
triton
-e git+http://github.com/triton-lang/triton@a4ab31d0bbc7526d662cc8b29284fc490d0c14ed#egg=triton_kernels&subdirectory=python/triton_kernels
typer
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
uvloop
vllm
wandb
watchfiles
wavedrom
wcwidth
websockets
wildguard
xformers
xgrammar
xxhash
yarl
